.body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1194px;
    margin: 0 auto;
}

.navigation{
    align-items: center;
}

.d-flex{
    display: flex;
}
/*---Header---*/
.header{
    padding-top: 13px;
}

.basket{
    background-color: black;
}

.form-search{
    width: 620px;
    height: 49px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    align-items: center;
    border: none;
}
.search-input{
    border: none;
    background-color: transparent;
    padding-left: 20.26px;
    width: 100%;
}

.search-btn{
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    padding-right: 20.26px;
    cursor: pointer;
}

.logo{
    margin-right: 76px;
}

.form-search{
    margin-right: 190px;
    position: relative;
}

.reg{
    margin-right: 31px;
    background: #EBEBEB;
    border-radius: 50px;
    width: 99px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg__link{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.basket{
    width: 49px;
    height: 49px;
    background: #F66A15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.basket__img{
    width: 24px;
    height: 24px;
}

.counter{
    background: #FFAF19;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -5px;
}

.counter__link{
    text-decoration: none;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
}
/*---Offer---*/

.slider__content{
    padding-top: 76px;
    padding-left: 101.54px;
    padding-bottom: 76.73px;
    width: 400px;
    position: relative;
}

.slider{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.slider__item{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.slider__title{
    font-size: 50px;
    line-height: 51px;
    font-weight: 700;
    margin-top: 0;
}

.slider__text{
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}

.slider__btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
}

.slider__btn{
    width: 245.72px;
    height: 48.48px;
    background: #F47322;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32.34px;
}

.slider__item_one{
    background-image: url(../img/summer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    color: #fff;
}

.slider__item:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.cards{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.cards__item{
    border-radius: 20px;
    position: relative;
    padding: 32px;
    color: #fff;
    overflow: hidden;
    width: 570px;
}

.cards__item::before{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.cards__title{
    margin-top: 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 21px;
}

.cards__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 72px;
}

.cards__item_one{
    background-image: url(../img/pirog.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 54px;
}

.cards__item_two{
    background-image: url(../img/food.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards__content{
    width: 225px;
    position: relative;
}

.cards__btn{
    width: 232px;
    height: 49px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.cards__btn a{
    text-decoration: none;
    color: #5F5F61;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
}

.cards__price{
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
}

.cards__delivery{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}


